@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IhmLlamaMvc.Domain.Entites.IaModels.ModeleIA

@{
    var listeModelesIA = (IEnumerable<SelectListItem>)ViewData["ModelesIA"];
}

<div class="left-sidebar-grid">

    <header class="header">
        <div class='grid'>
            <p class="left">SI - DGCCRF </p>
            <p id="headerlabel" class="center">Conversation avec LLM LLAMA3</p>
            <p class="right">Bonjour @ViewData["UserInfos"]</p>
        </div>
    </header>

    <main class="main-content center">

        <form id="searchForm">


            <label for="listemodeles">Posez votre question à &nbsp;</label>
            <select asp-for="Libelle" asp-items="@listeModelesIA" id="listemodeles">
                <option value="0">Sélectionnez un modèle</option>
            </select>


            <textarea class="entrer" id="requete"
                      placeholder="Saisissez votre question ici..." required></textarea>
            <br />

            <button type="submit" id="rechercher">Rechercher</button>
        </form>

        <partial name="_BusyIndicatorPartial" />

        <textarea class="center" id="Output" placeholder="L'IA générera sa réponse ici :" disabled></textarea>

    </main>

    <section class="left-sidebar">
        <button id="resetButton" class="reset" class="haha">Réinitialiser la conversation</button>
        <ul>
            <li>
                <a href="#">Historique</a>

            </li>
            <li>
                <a href="#">requête 1</a>
            </li>
        </ul>


    </section>
    <footer class="footer">
        <h3 class="mt-4">Historique des entrées</h3>
        <div style="   border: 1px solid #ccc;">
            <ul id="historyList" class="list-group"></ul>
        </div>

    </footer>
</div>
<script src="~/js/ShowIaprompt.js"></script>

