@model IhmLlamaMvc.Mvc.ViewModels.Conversation.ConversationViewModel

<input asp-for="InitialesAgent" type="hidden" />

<div class="left-sidebar-grid">

    <header class="header">
        <div class='grid'>
            <p class="left">SI - DGCCRF </p>
            <span id="headerlabel" class="center">
                Conversation avec LLM
                <select asp-for="ModeleId" asp-items="@Model.listeModeles">
                </select>
            </span>
            <p class="right">Bonjour @Model.IdentiteAgent</p>
        </div>
    </header>

    <main class="main-content center">

        @*      <textarea id="Answer" class="reponseclass" placeholder="La réponse de l'IA sera affichée ici :" readonly></textarea>
        *@


        <div id="showQuestionAnswer"></div>
        
        <div>
            <partial name="_BusyIndicatorPartial" />
        </div>

        <form asp-action="PoserQuestion" method="post" id="searchForm" role="form">

            <textarea class="questionclass" asp-for="Question" placeholder="Saisissez votre question ici..."></textarea>
            <span asp-validation-for="Question" class="text-danger"></span>
            <br />

            <button type="submit" id="rechercher">Rechercher</button>
            <button id="resetButton" type="reset">Réinitialiser</button>
        </form>

    </main>

    <section class="left-sidebar">

        <ul>
            <li>
                <a href="#">Historique</a>

            </li>
            <li>
                <a href="#">requête 1</a>
            </li>
        </ul>


    </section>
</div>

<div id="mapconversation"
     data-url-soumettre-formulaire-link="@Url.Content("~/Home/PoserQuestion")">
</div>
<script src="~/js/ShowIaprompt.js"></script>

