body {
    background-color: GrayText;
    overflow: auto;
}
/* classes de marquage pour sélectionner les clones des questions et des réponses */
.questionclass {
}

.reponseclass {
}

/* grid container */
.left-sidebar-grid {
    display: grid;
    grid-template-areas:
        'header'
        'left-sidebar'
        'main-content';
}

    /* general column padding */
    .left-sidebar-grid > * {
        padding: 1rem;
    }

    /* assign columns to grid areas */
    .left-sidebar-grid > .header {
        grid-area: header;
        background-color: #333;
        color: white;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    .left-sidebar-grid > .main-content {
        grid-area: main-content;
        background: #fff;
        grid-auto-rows: max-content;
    }

    .left-sidebar-grid > .left-sidebar {
        grid-area: left-sidebar;
        background-color: lightgrey;
        transform: translateX(-100%);
        transition: 200ms ease;
        z-index: 1;
        position: relative;
    }

        .left-sidebar-grid > .left-sidebar.collapsed {
            transform: translateX(0%);
        }


textarea {
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid #ccc;
    max-width: 90%;
    height: 10%;
    width: 80%;
    overflow: auto;
}

/* alignement dans le header*/

.grid {;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.center {
    text-align: center;
}

p.center {
    font-size: 1.5vw;
}

.right {
    text-align: right;
}

p.right {
    font-size: 1vw;
}

.left {
    text-align: left;
}

p.left {
    font-size: 1vw;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    height: 3rem;
    min-height: 3rem;
    padding: 5px;
}


/* tablet breakpoint */

@media (min-width:768px) {
    .left-sidebar-grid {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 60px 700px;
        grid-template-areas:
            'header header header header header'
            'left-sidebar main-content main-content main-content main-content';
    }
}
